# Authentication
tenancy_ocid     = "ocid1.tenancy.oc1..xxx"
user_ocid        = "ocid1.user.oc1..xxx"
fingerprint      = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
private_key_path = "~/.oci/oci_api_key.pem"
region           = "us-ashburn-1"  # Change this to your preferred region

# Compartment
compartment_ocid = "ocid1.compartment.oc1..xxx"

# SSH Key
ssh_public_key = "ssh-rsa AAAA..."  # Your SSH public key content